.App {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 4rem;
}

h2 {
  font-size: 12px;
  color: #5c47d2;
}

input {
  width: 12rem;
}

.register input {
  height: 3rem;
  width: 12rem;
  margin-top: 2rem;
  background-color: #5c47d2;
  border: #5c47d2 solid 1px;
  border-radius: 5px;
  color: white;
}

.footer {
  border: black solid 1px;
}

.informations {
  border: solid 2px #5c47d2;
  margin-bottom: 2rem;
  padding: 2rem 2rem;
}

.informations span {
  font-weight: bold;
}

button {
  background-color: #5c47d2;
  color: white;
  border: solid 2 px #5c47d2;
  border-radius: 5px;
  height: 3rem;
  width: 12rem;
  margin-left: 62px;
}
